<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:remove="android:sharedUserId">
    <!-- Debug/AVD: drop android.uid.system so stock emulator installs work
         (INSTALL_FAILED_SHARED_USER_INCOMPATIBLE). Release/car keeps main. -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
